<!DOCTYPE HTML>
<html>

<head>
  <title>Canary Demo</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="favicon.png" type="image/png" />
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <title>Rounded Corner Boxes</title>
  <script src="htmx.min.js"></script>
</head>

<body>
  <h1>Progressive Delivery - Canary Demo</h1>
  <div class="grid-container">
    <div hx-get="hit" hx-trigger="every 3s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 1s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 3s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 2s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 3s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 1s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 3s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 2s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 3s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 1s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 3s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 2s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 3s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 1s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 3s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 2s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 3s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 1s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 3s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
    <div hx-get="hit" hx-trigger="every 2s">
      <div class="square" style="background-color: gray">&nbsp;</div>
    </div>
  </div> <!-- grid-container -->
</body>

<script>
  // We still want to swap elements on error
  document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
    if (evt.detail.xhr.status === 500) {
        evt.detail.shouldSwap = true;
        evt.detail.isError = false;
    }
});
</script>
</html>