h1 {
    text-align: center;
    color: #4d2118;
}

.square {
    width: 80%;
    height: 80%;
    background: transparent;
    padding: 0.5rem 0.5rem;
    margin: 0 0.5rem;
    
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
}

div.lined.ok {
    border: solid 3px #41403E;
    color: white;
}

div.lined.error {
    color: #ff0000;
    border: dashed 5px #ff0000;
}

div.square {
    text-transform: capitalize;
    font-size:2vw;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.square:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-auto-rows: 100px;
    grid-auto-columns: 50px;
    gap: 10px;
    padding: 10px;
}

.grid-container>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}